/* Sistema General */
.mayusculas{
    text-transform: uppercase;
}
nav{
    box-shadow: -21.213px 21.213px 30px 0px rgba(158, 158, 158, 0.3);
     /* height: 10vh; */
}
.body{
    margin-top: 10vh;
    display: block;
}
.pagEncabezado{
    padding-bottom: 0.5%;
}
h1{
    text-align: center;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #0D5A8E;
    line-height: 1.2em !important;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 600;
}
ul{
    padding: 0rem;
}
.infoBasic{
    width: 100%;
    margin-left: 5%;
}
.BtnFinProc{
    float:right;
}
.container{
    margin-top: 2rem;
}


/* Crear Usuario */
.C_U_container{
    width: 80%;
}
.C_U_label{
    text-align:justify;
}

/* Asistencia */
.A_container{
    width: 70%;
}

/* Observaciones */
.O_container{
    width: 80%;
}

/* Informes */
.imagen{
    width: 10rem;
}
.izquierda{
    width: 25%;
}
.centro{
    /* width: 34%; */
    text-align: center;
}
.derecha{
    width: 33%;
}
label{
    width: 100%;
}

.todo .tabla{
    width: 100vw;
}
.bIzquierda{
    width: 40%;
    padding-left: 0%;
    padding-right: 0%;
    overflow: auto;
}
.PK{
    width: 2rem;
}

.bCentro{
    width: 43%;
    overflow:auto;
    padding-left: 0%;
    padding-right: 0%;
}
.tMes{
    text-align: center;
}

.bDerecha{
    padding-left: 0%;
    padding-right: 0%;
    width: 17%;
    overflow: auto;
}
.tDerecha{
    width: min-content;
}
.altura{
    height: 113px !important;
}
.altBase{
    height: 82px;
}
.altBaseDos{
    height: 40px;
}